<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title> Careers </title>
		<link rel="stylesheet" type="text/css" href="styles_careers.css">
	</head>
	<body>
		<div id="agrupar">
			<h1 id = "titulo"> Carreras </h1>
			<aside id = "carreras">
				<h3 id = "carrerasD"> Carreras disponibles </h3>
				<ul id="lista">
					<% @careers.map do |career| %>
						<li> 
							<a href = <%=career.associate_link%> target="_blank" > <%= career.name %> </a>
						</li>
					<% end %>

				<a href="https://www.unrc.edu.ar/unrc/ingresantes/" target="_blank"><img id = "bannerVertical"src="/images/bannerCarreras.png"></a>
				<br>
			<br>
			<br>
			</aside>
			<div id ="Encuesta">
				<p id="tituloEncuesta">¿Desea conocer la cantidad de encuestas resultantes de una carrera en un rango de fechas? </p>
				<form action="/quantities" method="POST">
					<label>Ingrese la fecha inicial</label>
					<input type="date" name="fecha1" value=<%= Time.now%>>
					<br>
					<br>
					<label>Ingrese la fecha final</label>
					<input type="date" name="fecha2" value=<%= Time.now%>>
					<br>
					<br>
					<select id="careers" name="carrera">
						<% @careers.map do |career| %>
							<option value="<%= career.name %>"> 
								<%= career.name %>
							</option>
						<% end %>
					</select>
					<br>
					<input type = 'submit' value = 'Enviar'>
				</form>
			</div>
			<a class="boton" href="http://localhost:9292">Volver al menu principal</a>
		</div>
		<footer>
			UNRC &copy; 2021 Arce Alan - Molina Enzo Agustin - Palacio Luciano
		</footer>
	</body>
</html>
