<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Response </title>
		<link rel="stylesheet" type="text/css" href="styles_response.css">
	</head>
	<body >
		<div>
			<header>
				<figure id="cabecera">
					<img id="imagen" src="images/cabecera3.png">
				</figure>
			</header>
		</div>
		<div id="agrupar">
			<p id ="bienvenida"> <u> Contanos de vos <%= @user.username %> </u></p>
			<article id="form">
				<form action='/responses' method='POST'>
					<ol >
						<% @questions.map do |question| %> 
						<li id="preguntas"> 
						<%= question.description %> 
						<br> 
						<ul>
							<% question.choices.map do |choice| %> 
							<input required type='radio' name='<%= question.id%>' value='<%= choice.id %>' > <%= choice.text %>
							<br>
							<% end %>
							<input type='hidden' name='question_id[]' value='<%= question.id %>'>
						</ul>
						<% end %>
					</ol>
					<input type='hidden' name='survey_id' value='<%= @user.id %>'>
					<p id = "aviso">
						<b> Recorda que debes seleecionar al menos una opcion de todas las preguntas.</b>
					</p>
					<input type = 'submit' value = 'Enviar respuestas'>
				</form> 	
			</article>
			<section >
				<figure id="bannerVertical">
					<img id="imagen" src="images/baner_vertical_response.jpg">
				</figure>
				<div id= "informacion">
					<h3 id="tituloCarreras"> 
						Algunas de las carreras disponibles:
						<br>
						<ul id = "informacionCarreras">
						  	<li> Arquitectura </li>
						 	<li> Arte </li>
						 	<li> Computacion </li>
						 	<li> Economia </li>
						 	<li> Educacion Fisica </li>
						 	<li> Filosofia </li>
						 	<li> Fisica </li>
						 	<li> Geologia </li>
						 	<li> Historia </li>
						 	<li> Literatura </li>
						 	<li> Matematica </li>
						 	<li> Medicina </li>
					 		<li> Periodismo </li>
					 		<li> Quimica </li>
					 		<p id = "carreras"> <a href="/careers"> Haga click aca para ver todas </a> </p>
						</ul> 
					</h3>
				</div>
				<figure id="bannerVertical">
					<img id="imagen" src="images/bienvenidaResponse.jpg">
				</figure>
			</section>
		</div>
	</body>
	<footer>
		UNRC &copy; 2021 Arce Alan - Molina Enzo Agustin - Palacio Luciano
	</footer>
</html>
